<% provide(:title, 'Log In') %>
<div class="container">
	<h1 class="text-center"> Log In </h1>
	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
			<%= form_for(:session, url: sessions_path) do |f| %>
				<%= f.label :email %>
				<%= f.text_field :email %>

				<%= f.label :password %>
				<%= f.password_field :password %>

			    <%= f.submit "Login", class: "btn btn-large btn-primary btn-signup" %>

			<% end %>
			<p>New User? <%= link_to('Register now!',register_path) %></p>
		</div>
	</div>

</div>