<div class= "container">
	<h1><%= @event.title %></h1>
	<p> Description: <%= @event.description %></p>
	<p> Location: <%= @event.location %></p>
	<p> <%= pluralize(@event.points,'point') %></p>


	<%= form_for(@event.attendings.build) do |f| %>
	<%= hidden_field_tag 'event_id',@event.id  %>
	<%= f.submit "Join In", class: "btn btn-large btn-primary btn-signup" %>

</div>
<div class="container">
	<ul>
		<% @event.users.each do |user| %>
			<li><%= link_to(cap_name(user),user) %></li>
		<% end %>
	</ul>

	<% end %>

	</div>