<div class= "container">
	<div class="row">
		<div class="col-md-6">
	<h1><%= @event.title %></h1>
	<p><%= @event.description %></p>
	<p> <%= @event.location %></p>
	<p> <%= pluralize(@event.points,'point') %></p>
	

	<% if in_event?(current_user,@event) %>
	<strong>You are going</strong>
	<% else %>

	<%= form_for(@event.attendings.build) do |f| %>
	<%= hidden_field_tag 'event_id',@event.id  %>
	<%= f.submit "Join In", class: "btn btn-large btn-primary btn-signup" %>
	
	<% end %>

</div>
<div class="col-md-6 myborder-left">
	<ul class="eventsUsers">
		<% @event.users.each do |user| %>
			<li>
				<%= gravatar_for(user,75) %>
				<%= link_to(cap_name(user),user) %> | <small><%= user.points %></small>

			</li>
		<% end %>
	</ul>

	<% end %>

	</div>

</div>