<style type="text/css">
body{
}

</style>
<div class="container-fluid">
	<div class="myjumbotron">
    <h1>You have <br/> <%= pluralize(current_user.points,'mark') %></h1>
	</div>

<div class="row">
  <div class="col-md-4 profile-column">
  	<div class="in-profile">
  		<span class="heading">my <strong>in</strong> profile </span>
  		<ul>
  			<% if current_user.profile %>
  				<% if current_user.profile.school %>
		  			<li><%= current_user.profile.school %></li>
		  		<% end %>
		  		<li><%= pluralize(current_user.points,'mark') %></li>
		  		<li>Class of <%= current_user.profile.yog %></li>
  			<% end %>

  		</ul>
  	</div>

  </div>
  <div class="col-md-4 feed">
  	<%= form_for(@micropost) do |f| %>
      <%= f.text_field :content, placeholder:'Say Something About an Event' %>
      <%= f.submit "Post", class: "post-btn btn btn-primary" %>
    <% end %>
    <div class="post-feed">
      <ul class="post-feed-list">
        <% @posts.each do |post| %>
          <li>
            <%= gravatar_for(post.user,40) %>
            <span class="more-space">
            <%= post.content %> <small><%= time_ago_in_words(post.created_at) %> ago.</small>
          </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-4 popular">

    <ul class="event-feed">
    <% @events.each do |event| %>
    <li>
      <%= event.description %> <%= link_to(event.title,event) %></strong>
    </li>

    <% end %>
  </ul>
  </div>
</div>

</div>
