<% provide(:title,"Update Profile") %>
<div class="container">
<h1 class="text-center"> Create Your Profile </h2>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user.build_profile,url: {action: "create"}) do |f| %>

        <%= f.label :school %>
        <%= select_tag(:school, options_for_select([['College of Computer and Information Science',"College of Computer and Information Science"],
          ['College of Arts, Media & Design','College of Arts, Media & Design'],
          ['D\'Amore-McKim School of Business','D\'Amore-McKim School of Business'],
          ['College of Engineering','College of Engineering'],
          ['Bouvé College of Health Sciences','Bouvé College of Health Sciences'],
          ['School of Law','School of Law'],
          ['College of Professional Studies','College of Professional Studies'],
          ['College of Science','College of Science'],
          ['College of Social Sciences and Humanities','College of Social Sciences and Humanities'],
          ['Program for Undeclared Students','Program for Undeclared Students']
        ])) %>

        <%= f.label :yog, "What is your year of graduation?" %>
        <%= select_tag(:yog, options_for_select([
          [2014,2014],
          [2015,2015],
          [2016,2016],
          [2017,2017],
          [2018,2018],
          [2019,2019],
          [2020,2020],
        ])) %>


        <%= f.label :power, "Which super power would you prefer?" %>
        <%= select_tag(:power, options_for_select([
          ['Invisibility','Invisibility'],
          ['Flight','Flight']
        ])) %>

        <%= f.label :favsport, "What is your favorite sport?" %>
        <%= f.text_field :favsport %>



        <%= f.submit "Create my profile", class: "btn btn-large btn-primary btn-signup" %>
      <% end %>
       <%= link_to("I'll do this later",current_user) %>
    </div>
  </div>

</div>

