<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield :title) %></title></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

	<meta property="og:title" content="Join in" />
	<meta property="og:url" content="http://guarded-beach-6975.herokuapp.com/" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://i.imgur.com/g02oQqJ.jpg" />


</head>
<body>
<%= render 'shared/navigation' %>
	<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>"> <%= value %> </div>

	<% end %>

<%= yield %>

</body>
</html>
